<ul class="nav-footer col-lg-12 col-md-12 col-sm-12 col-xs-12">
	<li class="company-name"><a href="{{ url }}">Northcross Group</a></li>
	<li><a href="{{ url }}">Corporate Site</a></li>
	<li><a href="{{ url }}">About</a></li>
	<li><a href="{{ url }}">Capabilities</a></li>
	<li><a href="{{ url }}">Press Releases</a></li>
	<li><a href="{{ url }}">Contact</a></li>
</ul>