<div class="block block-grid {{ block_class }}">
    {% block block_header %}
        {% if block_header %}
            <div class="grid-icon {{ block_header.icon_class }} block-header">
              {% include "@atoms/_image.twig"  with  block_header %}
            </div>
        {% endif %}
    {% endblock block_header %}

    {% block block_body %}
        <div class="grid-content {{ content_class }}">
            {% if block_subtitle %}
                <h4 class="grid-content--subtitle">{{ block_subtitle }}</h4>
            {% endif %}

            {% if block_title %}
                <h3 class="grid-content--title">{{ block_title }}</h3>
            {% endif %}

            {% if block_header_image %}
                {% include "@molecules/header-image/_header-image.twig" with block_header_image  %}
            {% endif %}

            {% if block_body %}
                <p class="grid-content--body">{{ block_body }}</p>
            {% endif %}

            {% if block_list %}
                  {% include "@molecules/list-item/_list-item.twig" with block_list  %}
            {% endif %}

            {% if block_button %}
                {% include "@atoms/button/_button.twig" with block_button.button %}
            {% endif %}
        </div>
    {% endblock block_body %}
</div>

